/* =============================================================================== */
/* ====================== Just common table stuff. Really. ======================*/
/* =============================================================================== */

/* ========== fixing table head ========== */
.tableFixHead {
  overflow: auto;
  /* height: 100px; */
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}
/* ========== fixing table head ========== */

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 8px 16px;
}
/* th {
  background: #eee;
} */

/* ========== dynamic max-height of table according to viewport-hight ========== */
.table-height {
    max-height: calc(100vh - 265px);
}
/* ========== dynamic max-height of table according to viewport-hight ========== */

.paginationBar {
    display: block;
    justify-content: center;
    text-align: center;
    background-color: inherit;
}
/* =============================================================================== */
/* ====================== Just common table stuff. Really. ====================== */
/* =============================================================================== */

.mandatoryField {
  color: crimson;
}

input:focus {
  box-shadow: 10px 10px 10px #ccc;
}

/* =============================================================================== */
/* ========================= invalid-field animation ============================ */
/* =============================================================================== */
input.is-invalid {
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: translateX(4px);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(4px);
  }
}
/* =============================================================================== */
/* ========================= invalid-field animation ============================ */
/* =============================================================================== */


