<!-- header starts -->
<my-header></my-header>
<!-- (outSearchEvent)="searchedData = $event"
[parentData]="message" -->
<!-- header-ends -->

<!-- main body content starts here -->
<div class="container-fluid">
  <div class="jumbotron" align="center">
    <header>
      <h1>Online <code>ToDo</code> App</h1>
      <h3>by <code>Arnab Ghosh</code></h3>
    </header>
  </div>

  <section>
    <div class="transbox">
      <header><h2>About Us</h2></header>
      <article>
        <section style="font-size: 20px; font-weight: bold">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </section>
      </article>
      <br />
      <article>
        <details>
          <summary>Read More..</summary>
          <section>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </section>
        </details>
      </article>
    </div>
    <br /><br />
  </section>

  <!-- <div class="col-md-6">
    <input 
      type="text" 
      #searched_parent 
      value="{{searchedData.searchedWord}}" 
      hidden
      >
      <p>Searching for : {{searchedData.searchedWord}}</p>
    </div> -->
    <!-- (load)="onChange(searched_parent.value)" -->

  <!-- main body content ends here -->

  <router-outlet></router-outlet>
  
  

</div>
<!-- footer starts here -->
<my-footer></my-footer>
<!-- footer ends here -->
